<p id="notice"><%= notice %></p>

<h1>Micropossts</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @micropossts.each do |microposst| %>
      <tr>
        <td><%= microposst.content %></td>
        <td><%= microposst.user_id %></td>
        <td><%= link_to 'Show', microposst %></td>
        <td><%= link_to 'Edit', edit_microposst_path(microposst) %></td>
        <td><%= link_to 'Destroy', microposst, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Microposst', new_microposst_path %>
