<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @microposst.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @microposst.user_id %>
</p>

<%= link_to 'Edit', edit_microposst_path(@microposst) %> |
<%= link_to 'Back', micropossts_path %>
